body{
    font-family:"Roboto", sans-serif;
    background: linear-gradient(90deg, rgba(29,242,236,1) 0%, rgba(104,219,255,1) 33%, rgba(255,255,255,1) 92%); 
}
.container{
    margin:5% auto;
    width:360px;
    background:rgb(224, 219, 219);
}
h1{
    background: #2980b9;
    margin:0;
    color:white;
    font-size:24px;
    text-transform: uppercase;
    font-weight:normal;
    padding:10px 20px;
}
.fa-plus{
    float: right;
    cursor: pointer;
}
input{
    width:100%;
    padding:12px 13px 12px 20px;
    font-size:18px;
    box-sizing: border-box;
    background:rgb(224, 219, 219);
    border:1px solid rgba(0, 0, 0, 0);
}
input[type="text"]:focus{
    background: white;
    color:#2980b9;
    border:2px solid #2980b9;
}
ul{
    list-style: none;
    padding:0px;
    margin:0;
}
li{
    height: 40px;
    line-height: 40px;
    padding:0px;
    margin:0px;
}
li:nth-of-type(odd){
    background: white;
}
span{
    background:#e74c3c;
    color:white;
    margin-right:15px;
    text-align: center;
    display: inline-block;
    height: 40px;
    width:0px;
    transition: 0.2s linear;
    opacity: 0;
}
li:hover span{
    width:40px;
    display: inline-block;
    opacity: 1;
}
.done{
    text-decoration: line-through;
    opacity: 0.5;
}